:root {
  --blue: #205a7e;
  --lightblue: #328bc3;
  --red: #b52b21;
  --lightred: #ff554d;
  --white: #ffffff;
  --purple: #864acf;
  --green: #7ebbc4;
}

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Verdana, sans-serif;
    background-image: linear-gradient(to bottom, #8fffe3, #789ab5);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#container{
  width: 90vw;
  max-width: 1000px;
  min-width: 300px;
}

.exchange-list-item-plus .itemname{
  color: var(--lightblue);
}

.exchange-list-item-minus .itemname{
  color: var(--lightred);
}

#labelbox, #exchange-pair, #exchange-order li{
  display: grid;
  gap: 1em;
}

#labelbox, #exchange-pair{
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

#exchange-order li{
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  padding: 10px 0;
}

#exchangebox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.smallfont{
  color: var(--green);
}

#exchange-total h2{
  color: var(--purple);
}
.labels-form, .exchange-twins{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exchange-twins, #exchange-list, #exchange-total{
  background-color: var(--white);
  border-radius: 10px;
}

.labels-form{
  min-height: 200px;
  justify-content: space-between;
  border-radius: 10px;
}

#labels-form-income{
  background-color: var(--blue);
  color: var(--white);
}

#labels-form-expense{
  background-color: var(--red);
  color: var(--white);
}

#exchange-income h2{
  color: var(--lightblue);
}

#exchange-expense h2{
  color: var(--lightred);
}

.labels-input{
  padding: 7px;
}

.labels-button{
  background-color: transparent;
  width: 100%;
  border-top: 1px solid white;
  border-bottom: none;
  border-left: none;
  border-right: none;
  color: white;
  padding: 10px 0;
  font-weight: bold;
  font-size: 1.25em;
  text-align: center;
}

#labels-button-income:hover{
  background-color: var(--lightblue);
}

#labels-button-expense:hover{
  background-color: var(--lightred);
}

#exchange-list{
  height: 325px;
  margin-top: 15px;
  overflow-y: scroll;
}

#exchange-list::-webkit-scrollbar{
  background-color: transparent;
}

#exchange-list::-webkit-scrollbar-thumb{
  background-color: var(--purple);
  border-radius: 5px;
}

#half1{
  display: flex;
  flex-direction: column;
}

#half2{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.smallfont{
  font-size: .7em;
}

.itemname{
  padding: 7px 0;
  font-weight: bold;
}

.delete-button{
  background-color: transparent;
  font-weight: bold;
  padding: 15px;
  margin-left: 10px;
  border: none;
}

.delete-button:hover{
  background-color: var(--green);
  color: white;
}

#exchange-total{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  padding: 0 40px;
}

@media screen and (min-width: 900px){
  #container{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
  }

  #labelbox{
  justify-content: space-between;
 
}

}



